body {
    background-color: #F6F3EE;
	color:#555;
    font:normal 1em Arial,sans-serif;
    font-family: "GeoSansLight";
	margin:auto;
    height:auto;
}

@font-face{
    font-family: GeoSansLight;
    src: url("style/GeosansLight.ttf")
}

#page-header{
    /* background-color: #BCCBCF;
    height: 100vh;
    position: relative;

    padding: 0;
    margin: 0;

    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #303133;
 */
    overflow: hidden;
    height: 100vh;
}

#page-body{
    /* background-color: rgba(246, 243, 238, 0.8); */
    position: relative;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

#background{
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: #BCCBCF;
}

#slide {
    text-align: center;
    font-family: "GeoSansLight";
    font-size: 80px;
    background: #BCCBCF;

    border-style: solid;
    border-width: 3px 0px;
    border-color: #303133;

    color: #303133;
    width: 100vw;
    height: 40vh;
    left: -100vw;
    position: absolute;
    /* display:block; */
    margin: 30vh 0%;    
    padding: 5% 0;

  -webkit-animation: slide-left 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide-left 1s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide-left {
    100% { left: 15px; }
} @keyframes slide-left {
    100% { left: 15px; }
}


.name-title{
    font-size: 65px;
    display: inherit;
}

.job-title{
    margin-top: 1%;
    font-size: 45px;
    display: inherit;
}

.arrow-down{
    display: block;
    margin: auto;
    width: 50px;
    height: 100px;
    cursor: pointer !important;

}

.content{
    opacity: 0;
    position: relative;

    

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.content > .row{
    margin: 0;
}


#content_1 p{
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

}


.content{
    background: #F6F3EE;
    /* background: linear-gradient(to right, rgba(246, 243, 238, 1), rgba(246, 243, 238, 0)); */
    background: -moz-linear-gradient(left, rgba(246,243,238,0.5) 0%, rgba(246,243,238,1) 20%, rgba(246,243,238,1) 80%, rgba(246,243,238,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(246,243,238,0.5) 0%,rgba(246,243,238,1) 20%,rgba(246,243,238,1) 80%,rgba(246,243,238,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(246,243,238,0.5) 0%,rgba(246,243,238,1) 20%,rgba(246,243,238,1) 80%,rgba(246,243,238,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.content-darker{
    background: #dbd9d5;
    /* background: linear-gradient(to right, rgba(246, 243, 238, 1), rgba(246, 243, 238, 0)); */
    background: -moz-linear-gradient(left, rgba(188,203,207,1) 0%, rgba(188,203,207,0.3) 20%, rgba(188,203,207,0.3) 80%, rgba(188,203,207,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(188,203,207,1) 0%,rgba(188,203,207,0.3) 20%,rgba(188,203,207,0.3) 80%,rgba(188,203,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(188,203,207,1) 0%,rgba(188,203,207,0.3) 20%,rgba(188,203,207,0.3) 80%,rgba(188,203,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.full-content{
    height: 100vh;
}

.three-fourth-content{
    height: 75vh;
}

.half-content{
    height: 50vh;
}

.two-third-content{
    height: 66vh;
}

.one-third-content{
    height: 33vh;
}

#content_1{
    opacity: 1;
    font-size: 2em;
}

#content_3{
    opacity: 1;
}

#content_4{
    opacity: 1;
    background: #faf;
}

.table-bg{
    border-radius: 5em;
    background: #BCCBCF;
    border-style: solid;
}

.skill-table{
    text-align: center;   
    font-size: 1.2em;
}

.skill-table th{
    border: none;
}

.skill-table td{
    border: none;
}

.skill-table thead th{
    border: none;
}

.skill-table>tbody> tr:nth-child(1){
    font-size: 1.6em;
}

.skill-icon{
    color: white;
    filter: drop-shadow(-1px -1px 0 #303133) drop-shadow(1px 1px 0 #303133) drop-shadow(1px -1px 0 #303133) drop-shadow(-1px 1px 0 #303133);  
}

.hide{
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.small-shocase{
    width: 45%;
    margin: 1%;
}







.filler{
    height: 30%;
    width: inherit;
}

.fixed{
    height: 100px;
}

.between-content{
    height: 100px;
}

.trigger{
    height:0px;
    width:0px;
    position: relative;
    top: -10vh;
}

.pinned-guide{
    display: flex;
}





.zap{
    opacity: 1 !important;
}

#title-div{
    text-align: center;
    font-family: "GeoSansLight";
    font-size: 80px;
    background: #000;
    color: white;
    height: 40%;
}




#gx {
	background-size:contain;
	text-align:center;
	width:100%;
	height:auto;
}

#bg-wrapper{
	stroke: #919499;
}

.fill{
	fill: white;
}


#gx-logo {
}

.pow{
}

.big{
	stroke-width: 2;
}

.big-1 {
    stroke-dasharray: 100 1000;
	stroke-dashoffset: -220;
}

.big-2 {
    stroke-dasharray: 250 1000;
	stroke-dashoffset: -100;
}

#bg-anim {
	stroke:#fff;
}

.anim-1{
    stroke-dasharray: 5 1000;
    animation: dash-1 8s linear infinite;
    /* filter: url(#white-glow); */
    transform: translateZ(0);
}
.anim-2{
    stroke-dasharray: 5 1100;
    animation: dash-2 14s linear infinite;
	/* filter: url(#white-glow); */
    transform: translateZ(0);
}
.anim-3{
    stroke-dasharray: 5 1000;
    animation: dash-3 3s linear infinite;
	/* filter: url(#white-glow); */
    transform: translateZ(0);
}
.anim-4{
    stroke-dasharray: 5 1000;
	animation: dash-1 6s linear infinite;
	/* filter: url(#white-glow); */
    transform: translateZ(0);
}

@keyframes dash-1 {
	to {stroke-dashoffset: -900;}
}@keyframes dash-2 {
	to {stroke-dashoffset: 1100;}
}@keyframes dash-3 {
	to {stroke-dashoffset: -500;}
}

.non-anim{
	stroke:#fff;
}
