body {
    background-color: #F6F3EE;
	color:#555;
	font:normal 1em Arial,sans-serif;
	margin:auto;
    height:auto;
}

@font-face{
    font-family: GeoSansLight;
    src: url("style/GeosansLight.ttf")
}

#main-header{
    background-color: #BCCBCF;
    height: 100vh;
    position: relative;

    padding: 0;
    margin: 0;

    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #303133;

    overflow: hidden;
}

#header-bg{
    position: absolute;
}

#slide {
    text-align: center;
    font-family: "GeoSansLight";
    font-size: 80px;
    background: #BCCBCF;

    border-style: solid;
    border-width: 3px 0px;
    border-color: #303133;

    color: #303133;
    width: 100vw;
    height: 40vh;
    left: -100vw;
    position: absolute;
    display:block;
    margin: 30vh 0%;    
    padding: 5% 0;

  -webkit-animation: slide-left 1s forwards;
    -webkit-animation-delay: 2s;
    animation: slide-left 1s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide-left {
    100% { left: 0; }
}

@keyframes slide-left {
    100% { left: 0; }
}


.name-title{
    font-size: 65px;
    display: inherit;
}

.job-title{
    margin-top: 1%;
    font-size: 45px;
    display: inherit;
}

.content{
    padding: 10% 10%;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.full-content{
    height: 100vh;
}

.two-third-content{
    height: 66vh;
}

#content_1{
    padding: 15% 10%;
    text-align: center;
    font-size: 2em;
}

#content_2{

}





.filler{
    height: 30%;
    width: inherit;
}

.fixed{
    height: 100px;
}

.between-content{
    height: 100px;
}

.trigger{
    height:0px;
    width:0px;
}

.pinned-guide{
    display: flex;
}





.zap{
    opacity: 1;
}

#title-div{
    text-align: center;
    font-family: "GeoSansLight";
    font-size: 80px;
    background: #000;
    color: white;
    height: 40%;
}




#gx {
	background-size:contain;
	text-align:center;
	width:100%;
	height:auto;
}

#bg-wrapper{
	stroke: #919499;
}

.fill{
	fill: white;
}


#gx-logo {
}

.pow{
}

.big{
	stroke-width: 2;
}

.big-1 {
    stroke-dasharray: 100 1000;
	stroke-dashoffset: -220;
}

.big-2 {
    stroke-dasharray: 250 1000;
	stroke-dashoffset: -100;
}

#bg-anim {
	stroke:#fff;
}

.anim-1{
    stroke-dasharray: 5 1000;
    animation: dash-1 8s linear infinite;
    /* filter: url(#white-glow); */
    transform: translateZ(0);
}
.anim-2{
    stroke-dasharray: 5 1100;
    animation: dash-2 14s linear infinite;
	/* filter: url(#white-glow); */
    transform: translateZ(0);
}
.anim-3{
    stroke-dasharray: 5 1000;
    animation: dash-3 3s linear infinite;
	/* filter: url(#white-glow); */
    transform: translateZ(0);
}
.anim-4{
    stroke-dasharray: 5 1000;
	animation: dash-1 6s linear infinite;
	/* filter: url(#white-glow); */
    transform: translateZ(0);
}

@keyframes dash-1 {
	to {stroke-dashoffset: -900;}
}@keyframes dash-2 {
	to {stroke-dashoffset: 1100;}
}@keyframes dash-3 {
	to {stroke-dashoffset: -500;}
}

.non-anim{
	stroke:#fff;
}
