
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */