body {
    height: 100%;
    background-color: #F6F3EE;
	color:#555;
    font:normal 1em Arial,sans-serif;
    font-family: "GeoSansLight";
	margin:auto;
    height:auto;
}

@font-face{
    font-family: GeoSansLight;
    src: url("/src/fonts/GeosansLight.ttf")
}

#page-header{
    /* background-color: #BCCBCF;
    height: 100vh;
    position: relative;

    padding: 0;
    margin: 0;

    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #303133;
    */
    overflow: hidden;
    height: 100vh;
}

#page-body{
    /* background-color: rgba(246, 243, 238, 0.8); */
    position: relative;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

#background{
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: #BCCBCF;
}

#slide {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);

    text-align: center;
    font-family: "GeoSansLight";
    background: #BCCBCF;

    color: #303133;
    width: 100vw;
    height: 20vh;
    left: -100vw;
    position: absolute;
    /* display: block; */
    display:flex;
    align-items: center;
    justify-content: center;
    /* margin: 30vh 0%;     */
    padding: 5% 0;

    animation: slide-left 1s forwards;
    animation-delay: 1s;
}

@keyframes slide-left {
    100% { left: 0px; }
}

.row{
    margin: 0;
}

.name-title{
    font-size: 2em;
    font-weight: bold;
    display: inherit;
}

.job-title{
    margin-top: 1%;
    font-size: 1.3em;
    display: inherit;
}

.arrow-down{
    display: block;
    margin: auto;
    width: 50px;
    height: 100px;
    cursor: pointer !important;

}

.content{
    position: relative;
}

.content > .row{
    margin: 0;
}

#content_1 p, #content_2>div{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#content_1 p{
    font-size: 1em;
}

#content_2 p{
    font-size: 2em;
}

#content_3 p.h1{
    font-size: 2em;
}
#content_3 a p.h4{
    font-size: 1.1em;
}

.light-content{
    background: #F6F3EE;
    /* background: linear-gradient(to right, rgba(246, 243, 238, 1), rgba(246, 243, 238, 0)); */
    background: linear-gradient(to right, rgba(246,243,238,0.5) 0%,rgba(246,243,238,1) 20%,rgba(246,243,238,1) 80%,rgba(246,243,238,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.dark-content{
    color:#333;
    background: rgba(136, 136, 124, 0.5);
}

.x-content{
    color: #333;
    background: rgba(188,203,207,0.5);
}

/* #content_footer{
    color:white;
    background: rgba(51,51,51);
} */
#content_footer a:hover{
    color: #aaa;
}

#content_footer p.h4{
    font-size: 1em;
}

.darker-content{
    color: white;
    background: rgba(51,51,51);
}
  
.full-content{
    min-height: 100vh;
    /* height: 100vh; */
}

.portfolio .row{
    margin-left: 0;
    margin-right: 0;
}

.three-fourth-content{
    min-height: 75vh;
}

.half-content{
    min-height: 50vh;
}

.two-third-content{
    min-height: 66vh;
}

.one-third-content{
    min-height: 33vh;
}

.one-fourth-content{
    min-height: 25vh;
}

.mh-inherit{
    min-height: inherit;
}

#content_1{
    opacity: 1;
    font-size: 2em;
}

#content_3{
    opacity: 1;
}


.portfolio{
    color: #111;
    opacity: 1;
    background: rgba(136, 136, 124, 0.5);
}

.portfolio:nth-of-type(n+9):nth-of-type(4n+1){ 
    opacity: 1;
    background: rgba(188,203,207,0.5);
    /* background: red; */
}

.portfolio > div > div:first-child{
    height: 8%;
}

.portfolio > div > div:last-child{
    height: fit-content;
}

.portfolio-showcase > *{
    min-height: 100%;
    margin: 0;
    align-content: flex-start;
}

.hidden{
    display: none;
}

.table-bg{
    border-radius: 5em;
    /* background: rgb(188,203,207,0.6); */
}

.skill-table{
    text-align: center;   
    font-size: 1.2em;
}

.skill-table th{
    border: none;
}

.skill-table td{
    border: none;
}

.skill-table thead th{
    border: none;
}

.skill-table>thead> tr:nth-child(3){
    font-size: 1.2em;
}

.skill-icon{
    /* color: #333; */
    color: #333;
    /* filter: drop-shadow(-1px -1px 0 #333) drop-shadow(1px 1px 0 #333) drop-shadow(1px -1px 0 #333) drop-shadow(-1px 1px 0 #333);   */
    font-size: 2em;
}

.hide{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.portfolio-showcase-wrapper{
    /* height: 40%; */
    flex: 0 1 100%;

    overflow: hidden;
    padding: 0%;
    margin: 1%;
}

.portfolio-showcase-wrapper:hover {
    cursor: pointer;
}

.portfolio-showcase-wrapper:hover .small-showcase{
    transform: scale(1.1);
}

.modal-header{
    padding: 0;
    align-items: center;
}

.modal-body{
    padding: 0;
}

.modal-body > .row{
    height: 100%;
}

.modal-body > .row > div{
    margin: 0;
    padding: 0;
} 

.modal-next, .modal-prev{
    font-size: 2em;
}

.modal-button{
    height: 100%;
    width: 100%;
    padding: 0;
}

.small-showcase{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s; 
}

.showcase-big{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.showcase-modal{
    max-width: none;
    width: 80%;
    height: 90%;
    margin: 2.5% 10% 2.5% 10% !important;
}

.showcase-modal-content > .modal-header{
    height: 10%;
}


.showcase-modal-content{
    height: 100%;
}

.long-text, .medium-text, .short-text{
    font-size: 1em;
}

.portfolio p.h1{
    font-size: 2em;
}

.portfolio-detail{
    font-size: 1.2em;
}

.portfolio-left{
    left: -10vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.portfolio-left > ul{
    direction: initial;
}

.swipe-left{
    animation: slide-left-appear 1s forwards;
    opacity: 1;
}

@keyframes slide-left-appear {
100% { left: 0; }
}

.portfolio-right{
    left: 10vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.swipe-right{
    animation: slide-right-appear 1s forwards;
    opacity: 1;
}

@keyframes slide-right-appear {
100% { left: 0; }
}

#header-link{
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: #333;
    transition: 0.5s;
    top: -30vh;
    color: white;
}

#header-link a:hover{
    color: #aaa;
}

.swipe-down{
    animation: slide-down-appear 1s forwards;
}

@keyframes slide-down-appear {
100% { top: 0; }
}

.swipe-up{
    animation: slide-up-appear 1s forwards;
}

@keyframes slide-up-appear {
100% { top: -10vh; }
}

.modal-header .close{
    margin: 0;
}

a, a:visited{
    color: inherit;
    /* text-decoration: underline; */
    transition: 0.5s;
    cursor: pointer !important;
}

a:hover{
    /* color:inherit; */
    /* color: rgb(99, 99, 245); */
    color: #555;
    text-decoration: none;
    font-weight: 500;
}

#page-header>.row>div{
    /* background:red; */
    display: flex;
    align-items: center;
}

.trigger{
    height:0px;
    width:0px;
    position: relative;
    top: -10vh;
}

#trigger_header{
    top: 40vh
}

#trigger_footer{
    top: -40vh;
}

#trigger_3{
    top: -30vh;
}

.pinned-guide{
    display: flex;
}

.zap{
    opacity: 1 !important;
}

#bg-wrapper{
	stroke: #919499;
}

#bg-anim {
	stroke:#fff;
}

.anim-long-slow{
    stroke-dasharray: 5 1000;
    animation: dash-long-s 8s linear infinite;
    transform: translateZ(0);
}
.anim-long-slow-2{
    stroke-dasharray: 5 2000;
    animation: dash-long-s-2 10s linear infinite;
    transform: translateZ(0);
}
.anim-long-sync{
    stroke-dasharray: 5 1200;
    animation-name: dash-sync;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: translateZ(0);
}

.anim-long-fast{
    stroke-dasharray: 5 1000;
    animation: dash-long-f 3s linear infinite;
    transform: translateZ(0);
}
.anim-short-slow{
    stroke-dasharray: 5 1000;
    animation: dash-short-s 9s linear infinite;
    transform: translateZ(0);
}
.anim-short-fast{
    stroke-dasharray: 5 600;
    animation: dash-short-f 3s linear infinite;
    transform: translateZ(0);
}
@keyframes dash-short-f {
	to {stroke-dashoffset: 600;}
}
@keyframes dash-short-s {
	to {stroke-dashoffset: -900;}
}
@keyframes dash-long-f {
	to {stroke-dashoffset: -900;}
}
@keyframes dash-long-s {
	to {stroke-dashoffset: -900;}
}
@keyframes dash-long-s-2 {
	to {stroke-dashoffset: -1000;}
}
@keyframes dash-sync {
    to {stroke-dashoffset: 1200;}
}

.anim-glow{
    opacity: 0;
    fill: white;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: translateZ(0);
}
.glow-1{
    animation-name: glow-1;
    animation-duration: 3s;
}
.glow-2{
    animation-name: glow-1;
    animation-delay: 2s;
    animation-duration: 4s;
}
.glow-3{
    animation-name: glow-1;
    animation-delay: 7s;
    animation-duration: 3s;
}
.glow-4{
    animation-name: glow-1;
    animation-delay: 10s;
    animation-duration: 4s;
}
.glow-5{
    animation-name: glow-1;
    animation-delay: 11s;
    animation-duration: 3s;
}
.glow-6{
    animation-name: glow-1;
    animation-delay: 14s;
    animation-duration: 4s;
}
.glow-7{
    animation-name: glow-1;
    animation-delay: 15s;
    animation-duration: 3s;
}
@keyframes glow-1 {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0.8;
    }
    3% {
        opacity: 1;
    }
    5% {
        opacity: 0.8;
    }
    7% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.portfolio .port-flex{
    flex-direction: column-reverse;
}
.portfolio:nth-of-type(n+9):nth-of-type(4n+1) .port-flex{
    flex-direction: column-reverse;
}

.text-right{
    text-align: left !important;
}

@media screen and (min-width: 420px) {
    #content_3 a p.h4{
        font-size: 1.5em;
    }
    .short-text{
        font-size: 1.5em;
    }
    .modal-next, .modal-prev{
        font-size: 2em;
    }
}


@media screen and (min-width: 768px) {
    #slide{
        height: 40vh;
    }
    .name-title{
        font-size: 2.8em;
    }
    .job-title{
        font-size: 1.6em;
    }
    .text-right{
        text-align: right !important;
    }
    .portfolio-left > ul{
        direction: rtl;
    }
    .portfolio .port-flex{
        flex-direction: row;
    }
    .portfolio:nth-of-type(n+9):nth-of-type(4n+1) .port-flex{
        flex-direction: row-reverse;
    }
    .medium-text{
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px) {
    .portfolio-showcase-wrapper{
        flex: 0 1 48%;
    }
}

@media screen and (min-width: 1200px) {
    .name-title{
        font-size: 4em;
    }
    .job-title{
        font-size: 2.8em;
    }
    #content_1 p{
        font-size: 40px; /* 40px */
    }
    #content_2 p{
        font-size: 40px; /* 40px */
    }
    #content_3 p.h1{
        font-size: 2.5em;
    }
    #content_3 a p.h4{
        font-size: 1.5em;
    }
    #content_footer p.h4{
        font-size: 1.5em;
    }
    .skill-icon{
        font-size: 3.5em;
    }
    .portfolio p.h1{
        font-size: 2em;
    }
    .portfolio-detail{
        font-size: 1.6em;
    }
    .short-text{
        font-size: 2.5em;
    }
    .medium-text{
        font-size: 2em;
    }
    .long-text{
        font-size: 2em;
    }
    .modal-next, .modal-prev{
        font-size: 4em;
    }
}

@media screen and (min-width: 1981px) {
    #content_1 > div >.col-md-8,
    #content_3 > div > div > .col-8, 
    #content_3 > div > div > .col-md-8, 
    #header-link > div > .col-md-8, 
    #content_footer > div > div > .col-8,
    #content_footer > div > div > .col-md-8,
    .portfolio > div > div > div > .col-md-8{
        flex: none;
        max-width: none;
        width: 1320px;
    }
    #content_2 > div >.col-md-6{
        flex: none;
        max-width: none;
        width: 990px;
    }

}