<div>    
    <div class="panel-side left-div">
        <h1>
            Sim 
            <span class="birth">{{birthRate}}</span>
            <span class="death">0</span>
        </h1>
        <h2>{{sim | round:'':'down'}} <span class="grey">+{{simRate}}/second</span></h2>
        <h1>House</h1>
        <h2>{{house | round:'':'down'}}</h2>
        <h1>Birth Rate</h1>
        <h2>{{birthRate}}</h2>
    </div>
    <canvas id="canvas" width=358 height=476>
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <div class="panel-side right-div">
        House ({{house}})
        <br>
        <button ng-disabled="sim<10" ng-click="buyHouse(1)" type="button" class="btn btn-outline-primary">Buy 1</button>
        <button ng-disabled="sim<10" ng-click="buyHouse(2)" type="button" class="btn btn-outline-primary">Buy {{sim/20>=1 ? sim/20 : 1 | round:'':'down'}}</button>
        <button ng-disabled="sim<10" ng-click="buyHouse(3)" type="button" class="btn btn-outline-primary">Buy {{sim/10>=1 ? sim/10 : 1 | round:'':'down'}}</button>
        <br>
        <input ng-model="iHouse" ng-init="iHouse=1" type="text" name="lname" value="1" ng-pattern="/^[0-9]*$/">
        <button ng-disabled="sim<iHouse*10" ng-click="buyHouse(4)" type="button" class="btn btn-outline-primary">Buy {{iHouse}}</button>        
        <hr>
        Upgrades ()
        <br>
        <button ng-click="test2()" type="button" class="btn btn-outline-primary">Buy 1</button>
        <hr>
        Upgrades ()
        <br>
        <button type="button" class="btn btn-outline-primary">Buy 1</button>
        
    </div>  
</div>