body{
    background-color:rgb(200, 200, 200);
}

#container{
    margin:auto;
    max-width: 960px;
    max-height:600px;
    height:600px;
    background-color:#fff;
}

#title-div{
    font-size: 24px;
    padding:24px 0px;
    margin: auto;
    text-align: center;
    background-color:rgb(203, 192, 235);
}

#canvas{
    display: block;
    float:left;
    background-color : #535353;
}

#panel-container{
    height: 476px;
}
/*
#panel-container{
    border:1px;
    border-style: solid;
    border-color:black;
}
*/

.panel-side{
    width:31.3%;
    float:left;
    padding: 10px 10px;
}

h1{
    font-size: 22px;
}

.birth{
    color:green;
}

.death{
    color:red;
}

h2{
    font-size: 18px;
}

.grey{
    font-size: 14px;
    color: grey;
}

.add-info{
    font-size:14px;
}